<div id="<%= dom_id task %>">
  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Sequence:</strong>
    <%= task.sequence %>
  </p>

  <p>
    <strong>Finished:</strong>
    <%= task.finished %>
  </p>

  <p>
    <strong>Todo:</strong>
    <%= task.todo_id %>
  </p>

</div>
